{
    "extends": [
      "react-app",
      "airbnb",
      "airbnb-typescript",
      "plugin:jsx-a11y/recommended",
      "prettier"
    ],
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "plugins": [
      "jsx-a11y",
      "prettier"
    ],
    "rules": {
      "semi": 0,
      "no-unused-vars": "warn",
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
      "prettier/prettier": [
        "error", 
        {
          "singleQuote": true, 
          "parser": "flow",
          "endOfLine": "auto"
        }
      ],
      "jsx-a11y/label-has-associated-control": ["error", {
        "required": {
          "some": ["nesting", "id"]
        }
      }],
      "jsx-a11y/label-has-for": ["error", {
        "required": {
          "some": ["nesting", "id"]
        }
      }],
      "react/jsx-props-no-spreading": "off",
      "import/no-cycle": [0, { "maxDepth": "∞", "ignoreExternal": true }]
    }
  }