.books-form {
    &__btn-cancel {
        position: absolute;
        top: 3%;
        right: 1%;
    }
    & form {
        display: flex;
        flex-direction: column;

        & .MuiFormControl-root {
            margin-top: 20px;
        }

        & button {
            margin-top: 30px;
        }
    }
}
