.books-form {
    &__btn-cancel {
        position: absolute;
        top: 3%;
        right: 1%;
    }
    & form {
        display: flex;
        flex-direction: column;

        & label {
            margin: 15px 0 5px;
        }
        & button {
            margin-top: 30px;
        }
    }
}
