.books-dashboard-body {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    background-color: $white;
    box-shadow: 10px 10px 23px -15px rgba(0, 0, 0, 0.75);

    & .MuiButton-root {
        width: 160px;
    }

    & .MuiTableRow-root th {
        font-weight: 600;

        & > button {
            background: none;
            color: inherit;
            border: none;
            padding: 0;
            font: inherit;
            cursor: pointer;
            outline: inherit;
        }
    }
}
