.dialog-modal {
    & .MuiDialog-paper {
        min-width: 400px;
        padding: 50px;
    }
}

.confirm-modal__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;

    & > button:first-child {
        margin-right: 30px;
    }
}
